.download{
    background-image: url(../images/download-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 80px top 120px;
    background-color: #3e3457;
    padding-bottom: 300px;
    
    &__curtain{
        padding-top: 46px;
        height: 690px;
        background: linear-gradient(90deg, #3B3253 0%, rgba(57, 48, 80, 0) 100%);
    }

    &__container{
        margin-left: 180px;
        margin-right: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
    }

    &__heading{
        max-width: 344px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 800;
        font-size: 39px;
        line-height: 140%; 
        margin: 0; 
        margin-top: 10px;    
        text-transform: capitalize;      
        color: #FFFFFF; 
        
        &-small{
            order: -1;
            margin: 0;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;    
            letter-spacing: 0.05em;
            text-transform: uppercase;      
            color: #4EA4DC;                
        }

        &-span{
            padding: 3px 10px;
            font-size: 10px;
            line-height: 120%;
            text-transform: lowercase;   
            color: #FFFFFF;
            background-color: #000000;
            border-radius: 11.5px;                       
        }
        
    }

    &__text{
        max-width: 365px;
        margin: 0;
        margin-top: 25px;
        margin-bottom: 40px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.6);            
         
        
        &-span{
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;       
            color: rgba(255, 255, 255, 0.8);    
        }
    }

    &__cards{
        padding: 0;
        list-style-type: none;
        max-width: 355px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card{
        position: relative;

        &:hover{
            &::after{
                content: "";
                width: 97px;
                height: 3px;
                display: block;
                background-color: #ffffff;
                position: absolute;
                bottom: -34px;
            }
        }

        &-active{
            &::after{
                content: "";
                width: 97px;
                height: 3px;
                display: block;
                background-color: #ffffff;
                position: absolute;
                bottom: -34px;
            }
        }


       
    }


    &__line{
        width: 355px;
        height: 3px;
        background-color: #ffffff;
        opacity: 0.1;
        margin-bottom: 40px;
        margin-top: 15px;
    }

    &__link{
        display: inline-block;
        margin-right: 20px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        padding: 15px 55px;
        background-color: #4EA4DC;
        border-radius: 5px;     
        text-transform: capitalize;   
        color: #FFFFFF;             
    }

    &__button{
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        padding: 15px 48px;
        border: 1px solid rgba(78, 164, 220, 0.3);
        border-radius: 5px;      
        text-transform: capitalize;    
        color: #4EA4DC;                 
    }

    
}